<div style="text-align:right;">
    작성자 : {{ post.username }} &nbsp;&nbsp;
    작성일 : {{ post.created_at | date:'Y.m.d H:i'}} &nbsp;&nbsp;
    수정일 : {{ post.updated_at | date:'Y.m.d H:i'}}
    </div>
  <p>{{ post.content }}</p>
</div>

<hr>
<div>
  <div style="text-align:left; float:left;">
    {% ifequal request.user post.username %}
    <a href="{% url 'postupdate' post.id %}" class="btn btn-outline-secondary">수정하기</a>
    <a href="{% url 'delete' post.id %}" onclick="return confirm('삭제 하시겠습니까?')" class="btn btn-outline-secondary">삭제하기</a>
    {% endifequal %}
  </div>
<div style="text-align: right; float:right;">

  {% if like %}
  <a href="{% url 'like' post.id %}">
   <span class="btn btn-info">좋아요 취소({{post.like_count}})</span>
     </a>
  {% else %}
  <a href="{% url 'like' post.id %}">
   <span class="btn btn-info">좋아요({{post.like_count}})</span>
     </a>{% endif %}
  </div>
</div>
<script>
  function open_page(url) {
    newPage=window.open(url);
}
</script>